<!DOCTYPE html>
<html>
  <head>
    <title>HearZone</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- script -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/modernizr.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  </head>
  <body data-bs-spy="scroll" data-bs-target="#navbar" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" tabindex="0">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <!-- Existing SVG symbols remain unchanged -->
      <symbol id="search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
        <title>Search</title>
        <path fill="currentColor" d="M19 3C13.488 3 9 7.488 9 13c0 2.395.84 4.59 2.25 6.313L3.281 27.28l1.439 1.44l7.968-7.969A9.922 9.922 0 0 0 19 23c5.512 0 10-4.488 10-10S24.512 3 19 3zm0 2c4.43 0 8 3.57 8 8s-3.57 8-8 8s-8-3.57-8-8s3.57-8 8-8z" />
      </symbol>
      <!-- ... other symbols ... -->
    </svg>  

    <header id="header" class="site-header header-scrolled position-fixed text-black bg-light">
      <nav id="header-nav" class="navbar navbar-expand-lg px-3 mb-3">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="/images/main-logo.png" class="logo">
          </a>
          <button class="navbar-toggler d-flex d-lg-none order-3 p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <svg class="navbar-icon">
              <use xlink:href="#navbar-icon"></use>
            </svg>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel">
            <div class="offcanvas-header px-4 pb-0">
              <a class="navbar-brand" href="/">
                <img src="/images/main-logo.png" class="logo">
              </a>
              <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdNavbar"></button>
            </div>
            <div class="offcanvas-body">
              <!-- Centered Navigation Links -->
              <ul class="navbar-nav mx-auto text-uppercase align-items-center">
                <li class="nav-item">
                  <a class="nav-link me-4 active" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-4" href="/shop">Shop</a>
                </li>
              </ul>
    
              <!-- Right-Aligned Icons -->
              <ul class="navbar-nav text-uppercase align-items-center">
                <!-- Profile Dropdown -->
                <% if (locals.user) { %>
                  <li class="nav-item" style="display: inline-block; margin-right: 15px;">
                    <div class="dropdown">
                      <a href="#" class="sign-in-link">
                        <i class="fa fa-user-circle"></i>
                      </a>
                      <div class="dropdown-content">
                        <a href="/profile">Profile</a>
                        <a href="/logout">Logout</a>
                      </div>
                    </div>
                  </li>
                <% } else { %>
                  <li class="nav-item" style="display: inline-block; margin-right: 15px;">
                    <div class="dropdown">
                      <a href="#" class="sign-in-link">
                        <i class="fa fa-user-circle"></i>
                      </a>
                      <div class="dropdown-content">
                        <a class="login-signup" href="/login">Login</a>
                        <a class="login-signup" href="/signup">Signup</a>
                      </div>
                    </div>
                  </li>
                <% } %>
    
                <!-- Wishlist Item -->
                <li class="nav-item" style="display: inline-block; margin-right: 15px;">
                  <a class="nav-link position-relative" href="/wishlist">
                    <i class="fas fa-heart" style="color: black;"></i>
                    <% if (locals.user) { %>
                      <span class="top-0 start-100 translate-middle badge rounded-pill bg-danger wishlist-count" style="display: <%= locals.wishlistCount > 0 ? 'inline-block' : 'none' %>">
                        <%= locals.wishlistCount %>
                      </span>
                    <% } %>
                  </a>
                </li>
    
                <!-- Cart Item -->
                <li class="nav-item" style="display: inline-block;">
                  <a class="nav-link position-relative" href="/cart">
                    <i class="fas fa-shopping-cart" style="color: black;"></i>
                    <% if (locals.user) { %>
                      <span class="top-0 start-100 translate-middle badge rounded-pill bg-danger cart-count" style="display: <%= locals.cartCount > 0 ? 'inline-block' : 'none' %>">
                        <%= locals.cartCount %>
                      </span>
                    <% } %>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>